
0_iso/*.iso
4_build/*.iso
2_translated/union/*.bin
2_translated/sc/*.bin
3_patched/*
*.pyc
*.BAC
*.backup
*.bak
2_translated/union/01072.bin
2_translated/union/01073.bin
2_translated/union/01074.bin
2_translated/union/01098.bin
2_translated/union/01099.bin
2_translated/union/01100.bin
2_translated/union/01101.bin
2_translated/union/01102.bin
2_translated/union/01103.bin
2_translated/union/01104.bin
2_translated/union/01147.bin
2_translated/union/01150.bin
2_translated/union/01151.bin
2_translated/union/01152.bin
2_translated/union/01157.bin
2_translated/union/01158.bin
2_translated/union/01172.bin
